*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #65b0cd;
    color: white;
}
.post{
    width: 100%;
    text-align: center;
}

.imgs{
    width: 50%;
    border: 10px solid white;
    border-radius: 10px;
    margin-top: 5%;
}